* {
    margin: 0;
    padding: 0;
}

.space, .astronaut, .body, .attributes {
    position: relative;
}

.sun, .body::after, .helm, .helm::after, .helm::before, 
.sholders, .thinghs, .arm, .leg, .leg::after, .leg::before {
    position: absolute;
}

body, .space{
    display: flex;
    justify-content: center;
    align-items: center;
}

body, .wrapper {
    background: black;
}

body {
   height: 100vh; 
}

.wrapper, .space {
    width: 500px;
    height: 500px;
}

.wrapper {
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid white;
}

.space {
    background: radial-gradient(blue 1%, transparent 50%) no-repeat right -350px bottom -350px /700px 700px,
    radial-gradient(yellow 1px, transparent 0) repeat left / 200px 200px,
    radial-gradient(red 2px, transparent 0) repeat right bottom / 300px 300px,
    radial-gradient(white 2px, transparent 0) repeat left top / 300px 300px;
}

.sun {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: yellow;
    top: 80px;
    right: 120px;
    box-shadow: 0px 0px 15px yellow;
    animation: sun-shining 5s ease infinite;
}

@keyframes sun-shining {
    0%, 100% {
        box-shadow: 0px 0px 15px yellow;
    }
    50% {
        box-shadow: 0px 0px 50px yellow;
    }
}

.astronaut {
    margin-top: 80px;
    margin-right: 80px;
    transform: rotate(30deg);
}

.body {
    width: 100px;
    height: 130px;
    background: gray;
    border-radius: 100px / 100% 100%;
}

.body::after {
    content: '';
    width: 100%;
    height: 120px;
    background: #555;
    border-bottom: 10px solid #333;
    border-radius: inherit;
    top: 0;
}

.helm {
    z-index: 5;
    width: 100px;
    height: 100px;
    background: black;
    top: -70px;
    left: 0;
    border: 2px solid gray;
    border-radius: 50%;
}

.helm::after, .helm::before {
    content: '';
    width: 80px;
    height: 85px;
    border-radius: 50%;
    left: 10px;
    top: 8px;
    border-top: 3px solid #aaa;
}

.helm::before {
    top: 20px;
    width: 30px;
    height: 20px;
    left: 35px;
    border-radius: 40%;
    border-top: 1px solid white;
}

.attributes {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: -45px;
    left: 7px;
    background: whitesmoke;
    z-index: 4;
}

.sholders {
    width: 120px;
    height: 50px;
    background: white;
    top: 20px;
    left: -10px;
    border-radius: 50%;
    z-index: -1;
}

.thinghs {
    width: 100px;
    height: 40px;
    background: whitesmoke;
    bottom: 5px;
    left: 0;
    border-radius: 50px;
    z-index: -5;
}

.arm {
    width: 35px;
    height: 70px;
    border-radius: 20px;
    background: gray;
    z-index: -2;
    border-bottom: 5px solid #333;
}

.arm--left {
    top: 25px;
    left: -25px;
    transform: rotate(40deg);
}

.arm--right {
    top: 25px;
    right: -25px;
    transform: rotate(-40deg);
}

.leg {
    width: 35px;
    height: 50px;
    background: white;
    bottom: -15px;
    border-radius: 20px;
}

.leg--left {
    left: -8px;
    transform: rotate(20deg);
}

.leg--right {
    right: -8px;
    transform: rotate(-20deg);
}

.leg::after {
    content: '';
    width: 35px;
    height: 35px;
    background: #aaa;
    bottom: -10px;
    border-bottom: 2px solid #333;
    border-radius: 50%;
}

.leg::before {
    content: '';
    width: 32px;
    height: 40px;
    background: white;
    bottom: -25px;
    border-radius: 20px;
}

.leg--left::before {
    transform: rotate(-20deg);
    left: 8px;
}

.leg--right::before {
    transform: rotate(20deg);
    right: 8px;
}